<style>
.home
{
   height: 60px; 
}
.facebook
{
    height: 60px;
}
.home
{
    height: 60px;   
}
.whatsapp
{
    height: 60px;
}
.youtube
{
    height: 60px;
}
.telegram
{
    height: 60px;  
}
.tiktok
{
    height: 60px;
}
.body
{
  background-color: rgb(65, 243, 11); 

}
</style>